.Home {
  text-align: center;
  width: 100%;
}

.Home-intro {
  width: 100%;
  height: 100%;
  display: table;
  position: fixed;
  z-index: 0;
}

.Home-description-container {
  display: table-cell;
  vertical-align: middle;
}

.Home-description {
  margin: 0 auto;
  width: 50%;
  text-align: center;
}

.Home-logo h1 {
  font-size: 5em;
  margin-bottom: 0;
}

.Home-body h1 {
  font-size: 2.5em;
  font-weight: normal;
}

.Home-body h1 small {
  font-family: 'Sacramento';
}

.Home-slides {

}
